<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Management.Infrastructure" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.5.14" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.14" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
</packages>