<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEhiService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo.1hai.cn/service/EhiService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEhiService" contract="EhiService.IEhiService" name="BasicHttpBinding_IEhiService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>