<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="DotLiquid" version="2.0.262" targetFramework="net471" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net452" />
  <package id="Moq" version="4.8.2" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="ValueInjecter" version="3.1.1.5" targetFramework="net452" />
</packages>